#Navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    width: 94%;
}
.navbar-nav .nav-btn {
    font-size: 1.25rem;
  font-weight: 600;
  padding: 0 1.3rem;
}
.navbar-nav .nav-btn:hover {
  color: var(--color-hover);
}